body {
    height: 100px;
    background-color:#96A7CF;
    background-image:
    linear-gradient(
        to left,
        #96A7CF, #E3EFE8
    );
}

button {
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    color: black;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 350px;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgray;
    padding: 10px;
}

.navbar.visible {
    display: block;
}

.navbar.hidden {
    display: none;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 5px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a.active {
    font-weight: bold;
}

.accordion-item {
    background-color: #E4F5FF;
    max-width: 500px;
    margin: 0 auto;
}

.accordion-button {
    background-color: #9294C2;
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
    background-color: #9294C2;
}
/* body {
    height: 100px;
    background-color:#FFFCFF;
    background-image:
    linear-gradient(
        to left,
        #eef5f7, #bfdcdb
    );
} */

/* body {
    height: 100px;
    background-color:#EBEBEB;
    background-image:
    linear-gradient(
        to left,
        #EBEBEB, #4062BB
    );
} */

/* body {
    height: 100px;
    background-color:#F6EBE6;
    background-image:
    linear-gradient(
        to left,
        #F6EBE6, #AEE1F9
    );
} */

/* body {
    height: 100px;
    background-color:#F5F7FA;
    background-image:
    linear-gradient(
        to left,
        #F5F7FA, #B8C6DB
    );
} */
