.navbar {
  display: flex;
  align-items: flex-start;
  background-color: rgb(146, 149, 100);
  padding: 10px;
  width: 9%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.navbar.visible {
  display: block;
}

.navbar.hidden {
  display: none;
}

.navbar ul {
  list-style: none;
  padding-top: 10%;
  margin: 0;
}

.navbar li {
  margin-bottom: 5px;
  margin-top: 15%;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
}

.navbar .sub-links {
  display: block;
  padding-left: 20px;
}

.navbar h4 {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  padding-top: 10%;
}

.navbar i {
  display: inline;
}
